<% include ../layouts/header.ejs %>
<div class="container">
	<div class="stats-menu">
		<a href="/stats" style="border-top: 2px solid #EAAB4E; border-left: 2px solid #EAAB4E; border-bottom: 2px solid #EAAB4E; border-top-left-radius: 10px; border-bottom-left-radius: 10px;" <% if (statsMenu == 'survival') {%> class='active' <% } %>>Survival</a>
		<a href="/stats/rpg" style="border-top: 2px solid #EAAB4E; border-right: 2px solid #EAAB4E; border-bottom: 2px solid #EAAB4E; border-top-right-radius: 10px; border-bottom-right-radius: 10px;" <% if (statsMenu == 'rpg') {%> class='active' <% } %>>RPG</a>
		<div class="filter" id="board-filter">
			<label for="playtime">Playtime</label>
			<span></span>
			<input type="checkbox" id="playtime">
			<label for="region">Region</label>
			<input type="checkbox" id="region">
			<label for="guild">Guild</label>
			<input type="checkbox" id="guild">
		</div>
	</div>
	<div class="stats">
		<table cellspacing="0">
			<tr>
				<th>PLAYER</th>
				<th>LEVEL</th>
				<th>KILLS</th>
				<th>MONEY</th>
				<th>DEATHS</th>
				<th>PLAYTIME</th>
			</tr>
			<% boardData.forEach(function(boardItem) { %>
				<tr id="board">
					<td><%= boardItem.username %></td>
					<td><%= boardItem.level %></td>
					<td><%= boardItem.kills %></td>
					<td><%= boardItem.money %></td>
					<td><%= boardItem.deaths %></td>
					<td><%= boardItem.playtime %> hrs</td>
				</tr>
			<% }); %>
		</table>
	</div>
</div>